@charset "utf-8";
/* 모바일용 CSS */
/* 기본 CSS */
#wrap {
    background-color: black;
}
a{text-decoration:none;}  
.cfixed:after, .container:after{
display:block;
content:"";
clear:both;
}    
.sec-tit{
font-size:42px;
color:white;
font-weight:normal;
}
.divider{
width:90%;
max-width:1132px;
margin:0 auto;
margin-bottom:20px;
background:#eee;
}   
.m-divider{
width:20px;
margin:0 auto;
margin-top:77px;
background:#3f51b5;
}
    
/* 헤더 영역 CSS */
.header {
    position: fixed;
    padding: 18px 5%;
    z-index: 1000;
    height: 10rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}    
.header .logo{
float:left;
}    
.header .logo a{
font-size:26px;
color:#3f51b5;
font-weight:normal;
}
.header .gnb{
display:none;
position:absolute;
top:100%;
left:0;
width:100%;
background:#3f51b5;
}    
.header .gnb li{
border-bottom:1px solid #303f9f;
}    
.header .gnb li a{
display:block;
padding:14px 0 14px 5%;
font-size:14px;
color:white;
}    
.header .menu-toggle-btn{
float:right;
width:20px;
margin-top:4px;
cursor:pointer;
}   
.header .menu-toggle-btn span{
display:block;
width:100%;
height:2px;
background:#3f51b5;
}    
.header .menu-toggle-btn span:nth-child(2){
margin:5px 0;
}
.header img{
    width:15px;
}
/* 서브 헤더 영역 CSS */
.sub_header_section{
padding:48px 0;
padding:3.000rem 0;
text-align:center;
background:black;
}

.sub_header_section h2{
margin-bottom:12px;
margin-bottom:0.750rem;
font-size:1.313em;
font-size:1.313rem;
color:#fff;
margin-top:120px;
}
/* 콘텐츠 영역 CSS */
.content_section{
width:90%;
padding:20px;
padding:1.250rem;
background:#000;
margin:0 auto;
}

.board_table{
width:100%;
}

.board_table caption{
position:absolute;
top:-9999px;
left:-9999px;
width:1px;
height:1px;
overflow:hidden;
visibility:hidden;
}

.board_table thead, .board_table tbody{
font-size:1.626em;
font-size:1.626rem;
text-align:center;
font-weight:bold;
}

.board_table thead{
color:dimgray;/*첫번째칸 글자*/
background:rgba(20,20,20,1);
display:none;
}

.board_table tbody, .board_table tbody a{
color:#fff;/*제목 글자*/
}
.board_table tbody p{
    color:red;
    margin:0;
}

.board_table tbody tr:nth-child(odd){
    /*내용 홀수칸*/
}

.board_table thead tr th{
padding:18px 0;
padding:1.125rem 0;
text-align:center;
}

.board_table tbody tr td{
padding:22px 0;
padding:1.375rem 0;
border-bottom:1px solid;
color:gray;
}
.board_table tbody tr td a{
    width:260px;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
}

.board_table thead tr th:first-child, .board_table thead tr th:nth-child(3), .board_table thead tr th:nth-child(4),
.board_table tbody tr td:first-child, .board_table tbody tr td:nth-child(3), .board_table tbody tr td:nth-child(4){
display:none;
}

.board_table tbody tr td:nth-child(2){
text-align:left;
}

.content_row_3{
display:flex;
justify-content:center;
}

.content_row_3 span{
width:28px;
width:1.750rem;
height:28px;
height:1.750rem;
text-indent:-9999px;
}

.content_row_3 span.list_prev_btn{
margin-right:10px;
margin-right:0.625rem;
background:#000 url(../images/s-images/list_prev_btn.png) center center no-repeat;
cursor:pointer;
}

.content_row_3 span.list_next_btn{
margin-left:10px;
margin-left:0.625rem;
background:#000 url(../images/s-images/list_next_btn.png) center center no-repeat;
cursor:pointer;
}

.content_row_3 a{
width:26px;
width:1.625rem;
font-size:0.813em;
font-size:0.813rem;
line-height:26px;
line-height:1.625rem;
text-align:center;
border:1px solid #219af7;
color:#219af7;
transition:all 0.2s;
}

.content_row_3 a:nth-of-type(2){
margin:0 6px;
margin:0 0.375rem;
}

.content_row_3 a:hover{
color:#fff;
background:#219af7;
}

/* 푸터 영역 CSS */
.footer{
margin-top:104px;
}   
.footer iframe{
width:100%;
height:320px;
}    
.footer p{
margin:21px 0;
color:#3f51b5;
text-align:center;
}    

/* 태블릿용 CSS */   
@media all and (min-width:768px){

/* 기본 CSS */   
.m-divider{
margin-top:124px;
}
    
/* 헤더 영역 CSS */     
.header .logo a{
font-size:26px;
}
.header .gnb{
display:block !important;
position:static;
float:right;
width:auto;
margin-top:6px;
background:none;
}    
.header .gnb li{
float:left;
margin-left:21px;
border-bottom:0;
}    
.header .gnb li a{
padding:0;
font-size:16px;
color:white;
}    
.header .menu-toggle-btn{
display:none !important;
}
/* 콘텐츠 영역 CSS */
.content_section{
padding:40px;
padding:2.500rem;
width:80%;
}

.board_table thead tr th:first-child, .board_table thead tr th:nth-child(3), .board_table thead tr th:nth-child(4),
.board_table tbody tr td:first-child, .board_table tbody tr td:nth-child(3), .board_table tbody tr td:nth-child(4){
display:table-cell;
}

.board_table thead tr th:first-child{
width:10%;
}

.board_table thead tr th:nth-child(2){
width:65%;
}

.board_table thead tr th:nth-child(3){
width:15%;
}

.board_table thead tr th:nth-child(4){
width:10%;
}

.board_table thead{
    display:table-header-group;
}

.board_table tbody tr td a{
    width:370px;
}

}
 
/* PC용 CSS */
@media all and (min-width:1132px){
    .header {
        background-color: rgba(0, 0, 0, 0.4);
        height:8rem;
    }
    .header .logo a{
font-size:26px;
}
.header .gnb{
display:block !important;
position:static;
float:right;
width:auto;
margin-top:6px;
background:none;
}    
.header .gnb li{
float:left;
margin-left:21px;
border-bottom:0;
}    
.header .gnb li a{
padding:0;
font-size:16px;
color:white;
}   
.header .menu-toggle-btn{
display:none !important;
}
/*서브 헤더 영역*/
    .sub-header .sec-tit {
        width: 90%;
        max-width: 1132px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 47px;
    }
/* 콘텐츠 영역 CSS */
.content_section{
padding:60px;
padding:3.750rem;
}
.board_table tbody tr td a{
    width:750px;
}
.board_table tbody tr td a:hover{
    background:rgba(20,20,20,1);
}

/* 푸터 영역 CSS */
.footer iframe{
height:432px;
}   
.footer p{
margin:34px 0;
}
}